<section>
  <form action="/" method="post">
    <table>
      <tr>
        <td><p>Enter Student's Name</p></td>
        <td><input type="text" placeholder="Name" name="fname" autofocus required></td>
      </tr>
      <tr>
        <td><p>Enter Student's Roll Number</p></td>
        <td><input type="number" placeholder="Roll Number" name="rno" required></td>
      </tr>
      <tr>
          <td><p>Enter Marks of Accounts</p></td>
          <td><input type="number" placeholder="Accounts Marks" name="accounts" required></td>
      </tr>
      <tr>
          <td><p>Enter Marks of Business Studies</p></td>
          <td><input type="number" placeholder="Business Studies Marks" name="bst" required></td>
      </tr>
      <tr>
          <td><p>Enter Marks of Economics</p></td>
          <td><input type="number" placeholder="Economics Marks" name="eco" required></td>
      </tr>
      <tr>
          <td><p>Enter Marks of English</p></td>
          <td><input type="number" placeholder="English Marks" name="english" required></td>
      </tr>
      <tr>
          <td><p>Enter Marks of Infomatics Practices</p></td>
          <td><input type="number" placeholder="Informatics Practices" name="ip" required></td>
      </tr>
      <tr>
          <td><input type="submit" value="Generate"></td>
          <td><input type="reset"></td>
      </tr>
    </table>
  </form>
</section>